.Navbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  border-bottom: 3px solid white;
}

.Navbar nav {
  height: 100%;
}

.Navbar p {
  color: white;
}

.name {
  font-weight: 600;
}

.balance {
  font-weight: 600;
  color: yellow;
}

nav li {
  border-radius: 15px;
  color: #fff;
  font-weight: 500;
  margin-top: 8px;
  list-style-type: none;
  border: 2px #fff solid;
  padding: 8px;
}

nav li:hover {
  cursor: pointer;
  border-color: yellow;
}