.board_wrapper {
  width: 100vw;
  height: 92vh;
  position: relative;
}

.board_wrapper > .inner-wrapper {
  position: relative;
  top: 34%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player {
  width: 317px;
  height: 148px;
  position: absolute;
}
.player_1 {
  order: 3;
  top: 12vh;
}

.player_2 {
  order: 2;
  bottom: 24vh;
}

.player_3 {
  order: 1;
  align-self: flex-start;
  position: absolute;
  top: -15vh;
  left: 5vw;
}
.player_4 {
  position: absolute;
  order: 4;
  top: -15vh;
  left: 75vw;
}

.pot {
  font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', 'sans-serif';
  text-align: center;
  margin-top: 1em;
  color: white;
  font-size: larger;
}
.pokerchip{
  position: absolute;
  bottom: 2vh;
  font-size:1.2em;
  display:inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width: 5em;
  height: 5em;
  background:#555;
  border-radius:50%;
  border:.5em dashed white;
  transition:all .5s ease;
  backface-visibility:hidden;
}

.pokerchip.red{
  background:#DD4631;
}

.pokerchip.blue{
  background:#317DDD;
}

.pokerchip.flat{
  box-shadow:0 0 0 .2em #fff;
}

.pokerchip.iso{
  transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);
  box-shadow:
    -1px 1px 0px #555,
    -2px 2px 0px #555,
    -3px 3px 0px #555,
    -4px 4px 0px #555,
    -5px 5px 0px #555,
    -6px 6px 10px #555;
}
