.board_wrapper {
  width: 100vw;
  height: 92vh;
  position: relative;
}

.board_wrapper > .inner-wrapper {
  position: relative;
  top: 34%;
  left: 53%;
  transform: translate(-50%, -50%);
}


.flex { 
  display: flex; 
  align-items: center; 
  flex-direction: column;
}

.player {
  width: 317px;
  height: 148px;
  position: absolute;
}
.player_1 {
  order: 3;
  top: 20vh;
}

.player_2 {
  order: 2;
  bottom: 20vh;
}

.player_3 {
  order: 1;
  align-self: flex-start;
  position: absolute;
  top: -10vh;
  left: 5vw;
}
.player_4 {
  position: absolute;
  order: 4;
  top: -10vh;
  left: 75vw;
}


.status-wrapper {
  position: absolute;
  z-index: 100;
  right: 10px;
  bottom: -46vh;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  color: #ffffff;
}

.status-wrapper ul {
  list-style-type: none;
  height: 200px;
  width: 400px;
  overflow: auto;
}

.status-wrapper li {
  padding-left: 10px;
  margin-bottom: 15px;
  position: relative;
}

.status-wrapper li::after {
  content: "-";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.status-wrapper li:last-of-type {
  margin-bottom: 0;
}

