.board_wrapper {
  width: 100vw;
  height: 92vh;
  position: relative;
}

.board_wrapper > .inner-wrapper {
  position: relative;
  top: 34%;
  left: 53%;
  transform: translate(-50%, -50%);
}


.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player {
  width: 317px;
  height: 148px;
  position: absolute;
}
.player_1 {
  order: 3;
  top: 20vh;
}

.player_2 {
  order: 2;
  bottom: 20vh;
}

.player_3 {
  order: 1;
  align-self: flex-start;
  position: absolute;
  top: -10vh;
  left: 5vw;
}
.player_4 {
  position: absolute;
  order: 4;
  top: -10vh;
  left: 75vw;
}
