.player_info {
  position: absolute;
  display:inline-block;
  color: white;
  background: rgba(28,26,56,1);
  padding: 10px;
  top: 91px;
  left: -5px;
}

.player_info::after {
  content: '';
  display: block;
  position: absolute;
  left: -54px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;

}

.border-gradient-grey {
  border-image: linear-gradient(to left, #ccc 0%, #2d72bc 100%);
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
}

.info-balance {
  font-weight: 600;
}